@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");

.diagnal h3 {
  font-weight: normal;
  padding-bottom: 2%;
}

.diagnal .container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.ss {
  width: 100%;
}

.navbar {
  background-image: url(https://test.create.diagnal.com/images/nav_bar.png);
  background-repeat: repeat-x;
  height: auto;
  background-position-y: -45px;
  color: #ffffff;
}

.naviarrow {
  background-image: url(https://test.create.diagnal.com/images/Back.png);
  background-repeat: no-repeat;
  background-size: 30px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-position: 0px 3px;
  margin-right: 10px;
}

.content {
  font-family: "Titillium Web";
  color: #ffffff;
  font-weight: 200;
  margin-bottom: 50px;
  flex: 0 0 auto;
  width: 33.33333333% !important;
}

.txt-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.results {
  color: #ffffff;
  margin-bottom: 50px;
  text-align: center;
  margin-top: 100px;
}

.items-loaded {
  position: fixed;
  z-index: 9999;
  right: 5%;
  font-size: 20px;
  background-color: #5fcdbc;
  color: #000;
  font-weight: bold;
  width: 60px;
  height: 60px;
  border-radius: 30%;
  bottom: 5%;
  padding: 14px;
  cursor: pointer;
}

.searchicon {
  width: 35px;
  height: 35px;
  background: url(https://test.create.diagnal.com/images/search.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0px 3px;
  float: right;
  position: absolute;
  right: 10px;
}

.clearicon {
  width: 30px;
  height: 30px;
  background-image: url(../src/img/close-icon.png);
}

.searchinput {
  margin-left: 0px;
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
  width: 100%;
}

.missing-img {
  width: 100%;
  aspect-ratio: 2/3;
}

.close-icon {
  border: 1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.close-icon:after {
  content: "X";
  display: block;
  width: 22px;
  height: 22px;
  position: relative;
  background-color: #171717;
  z-index: 1;
  right: 30px;
  top: -1px;
  bottom: 0;
  margin: auto;
  padding: 0px;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  cursor: pointer;
}

.search-box:not(:valid) ~ .close-icon {
  display: none;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
  .diagnal h3 {
    margin-top: 3px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 300px) and (max-width: 992px) {
  .navbar {
    background-image: url(https://test.create.diagnal.com/images/nav_bar.png);
    background-repeat: repeat-x;
    padding: 20px 0 !important;
    background-position-y: -45px;
    color: #ffffff;
    height: auto;
  }

  .search-bar {
    width: 100%;
    padding: 0 10px;
  }
  .searchinput {
    margin-left: 0px;
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    width: 100%;
  }

  .close-icon {
    position: absolute;
    top: 6px;
  }

  .search-input-container {
    width: 100%;
    position: relative;
  }
}

@media (min-width: 992px) {
  .search-bar {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0 10px;
  }
  .searchinput {
    margin-left: 0px;
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    width: 100%;
  }

  .close-icon {
    position: absolute;
    top: 6px;
  }

  .search-input-container {
    width: 100%;
    position: relative;
  }
}
