@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");

.diagnal h3 {
  font-weight: normal;
}

.diagnal .container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  background-image: url(https://test.create.diagnal.com/images/nav_bar.png);
  background-repeat: repeat-x;
  height: 100px;
  background-position-y: -60px;
  color: #ffffff;
}

.naviarrow {
  background-image: url(https://test.create.diagnal.com/images/Back.png);
  background-repeat: no-repeat;
  background-size: 30px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-position: 0px 3px;
  margin-right: 15px;
}

.content {
  font-family: "Titillium Web";
  color: #ffffff;
  font-weight: 200;
  margin-bottom: 50px;
}

.results {
  color: #ffffff;
  margin-bottom: 50px;
  text-align: center;
  margin-top: 100px;
}

.items-loaded {
  position: fixed;
  z-index: 9999;
  right: 5%;
  font-size: 20px;
  background-color: #5fcdbc;
  color: #000;
  font-weight: bold;
  width: 60px;
  height: 60px;
  border-radius: 30%;
  bottom: 5%;
  padding: 14px;
  cursor: pointer;
}

.search-bar {
  display: flex;
}

.searchicon {
  width: 35px;
  height: 35px;
  background: url(https://test.create.diagnal.com/images/search.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0px 3px;
}

.clearicon {
  width: 30px;
  height: 30px;
  background-image: url(../src/img/close-icon.png);
}

.searchinput {
  margin-left: 0px;
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
}

.missing-img {
  width: 100%;
  aspect-ratio: 2/3;
}

.close-icon {
  border: 1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.close-icon:after {
  content: "X";
  display: block;
  width: 22px;
  height: 22px;
  position: relative;
  background-color: #171717;
  z-index: 1;
  right: 30px;
  top: -1px;
  bottom: 0;
  margin: auto;
  padding: 0px;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  cursor: pointer;
}

.search-box:not(:valid) ~ .close-icon {
  display: none;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
  .navbar {
    height: 80px;
    background-position-y: -78px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
