@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");

.App {
  text-align: center;
}
html {
  overflow-x: hidden;
}
html,
body {
  width: 100%;
  font-family: "Titillium Web";
  background-color: #171717 !important;
  color: #ffffff;
}
.container {
  width: 100%;
  /* padding-right: 15px;
  padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
}
.flexbox {
  display: grid;
  grid-template-rows: masonry;
  font-family: "Titillium Web";
  gap: 30px;
  color: #ffffff;
}

.flexbox p {
  font-size: 24px;
}

.ss {
  color: #ffffff;
  font-size: 1.3rem;
}
.navbar {
  background-image: url(https://test.create.diagnal.com/images/nav_bar.png);
  background-repeat: repeat;
  height: 100px;
  background-position-y: -60px;
  color: #ffffff;
}

.naviarrow {
  background-image: url(https://test.create.diagnal.com/images/Back.png);
  background-repeat: no-repeat;
  background-size: 36px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-position: 0px 0px;
  margin-right: 15px;
}

.contnt {
  font-family: "Titillium Web";
  color: #ffffff;
  font-weight: 200;
  margin-bottom: 50px;
}

.results {
  color: #ffffff;
  margin-bottom: 50px;
  text-align: center;
  margin-top: 100px;
}

.items-loaded {
  position: fixed;
  z-index: 9999;
  right: 5%;
  font-size: 20px;
  background-color: #5fcdbc;
  color: #000;
  font-weight: bold;
  width: 60px;
  height: 60px;
  border-radius: 30%;
  bottom: 5%;
  padding: 14px;
}

.search-bar{
  display: flex;
}
.searchicon {
  width: 35px;
}

.clearicon {
  width: 30px;
  height: 30px;
  background-image: url(../src/img/close-icon.png);
}

.searchinput {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 15px;
}

.close-icon {
  border: 1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.close-icon:after {
  content: "X";
  display: block;
  width: 22px;
  height: 22px;
  position: relative;
  background-color: #171717;
  z-index: 1;
  right: 30px;
  top: -1px;
  bottom: 0;
  margin: auto;
  padding: 0px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 14px;
  cursor: pointer;
}
.search-box:not(:valid) ~ .close-icon {
  display: none;
}

.p-cont {
  padding: 0 10%;
  text-align: center;
}

/* @media (min-width: 375px) and (max-width: 575px) {
  .contnt{
    text-align: center;
  }

  .contnt img {
    width: 60%;
  }
} */

@media (min-width: 576px) {
  .container {
    width: 540px;
  }

  .flexbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  .flexbox {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .flexbox {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .flexbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
